body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
img {
  display: block;
}
/* HEADER */
header {

}
header .inner {
  width: 1100px;
  height: 120px; 
  margin: 0 auto;
  position: relative;
}
header .inner .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

